<link rel="stylesheet" href="/css/about.css" >
<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Kalam:wght@300&display=swap" rel="stylesheet">
<body>
<h1>About Watch I</h1>
    <div>
    <p>Watch I is a user-friendy webpage to show users different watches and their discription.</p>
    <ul>
        <li>You can see different watches of different brands and can place order for it.</li><br>
        <!-- <li>You may sign up to save your data (and scores in the future) and can login or logout accordingly</li><br>
        <li>We plan to allow players to participate as a team and check users' scores on the leaderboard</li><br> -->
    
    </ul>
    <button class="home"><a href="/">Home</a></button>
</div>
</body>