<link rel="stylesheet" type="text/css" href="/css/contact.css">

<body>
	<header>
		<h1>Contact ME</h1>
	</header>
		<div class="container">
		<h3>Emails:-</h3>
		<div>riya_j@me.iitr.ac.in</div>
        <div>riyajindal769@gmail.com</div>
        <h3>Mobile No:-</h3>
        <div>7719653405</div>
        
	   

	</div>
	<button class="home"><a class="aHome"href="/">Home</a></button>
	
</body>
